<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">
  <title>IoT Project</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script crossorigin="anonymous"
    src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">ABB Ventilation Controller</a> <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" href="#!" id="sidebarToggle"></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">

      </div>
    </form><!-- Navbar-->

  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">
              Dashboard
            </div>
            <a class="nav-link" href="/">
              <div class="sb-nav-link-icon"></div>
                Realtime
            </a>
          
            <a class="nav-link"href="/devicehistory">
              <div class="sb-nav-link-icon"></div>
                Device History
            </a>
            <div class="sb-sidenav-menu-heading">
              Help
            </div><a class="nav-link" href="/usermanual">
              <div class="sb-nav-link-icon"></div>FAQ & User Manual
            </a>
            <div class="sb-sidenav-menu-heading">
              User
            </div>
            <a class="nav-link" href="/useractivity">
              <div class="sb-nav-link-icon"></div>Activities
            </a>
            <a class="nav-link" href="/logout">
              <div class="sb-nav-link-icon"></div>Logout
            </a>

          </div>

      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>